
*,
*::before,
*::after{
    box-sizing: border-box;
}


/*--- root properties ---*/

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Roboto Mono', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: rgb(230, 230, 230);
    --clr-dark: #181b20;
    --clr-normal: ##16e0bd;
    --clr-accent: #0dbff5;

    --fs-h1: 3.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --image-size: 325px;
    --icon-size: 4em;
    --small-icon-size: 2em;

    --boxshadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.35), 
                 0.125em 0.125em 0.35em rgba(0, 0,0,0.25);
}

@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-body: 1.125rem;
    }
}


/*--- general styles ---*/

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

section{
    padding: 8em 1.25em;
}


img{
    display: block;
    max-width: 100%;
}

strong {
    font-weight: bold;
}


/*--- Button ---*/

.button {
    display: inline-block;
    padding: 0.5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.button:hover{
    transform: scale(1.1);      
}

/*--- Images ---*/

.image-icon-link{
    width: 50px;
    height: 50px;
}

/*--- Tooltips ---*/
.tooltip{
    position: relative;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-size: var(--fs-h3);
    text-align: center;
    border-radius: 4px;
    z-index: 1;
    visibility: hidden
}

/*--- Typography ---*/

h1,h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

.section-title {
    text-align: center;
    margin-bottom: .25em;
    font-size: var(--fs-h1);
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);    
}

nav{
    display: none;
}


/*--- header image ---*/

@media (min-width: 600px) {

    .image-logo{
        height: 20%;
        max-width: 100%;
        position: center;
        scale: 70%;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 3rem;
    }
}

@media (max-width: 600px){
    .image-logo{
    height: auto;
    width: 100%;
    max-width: 100%;
    }
}


/*--- intro section ---*/

.intro{
    position: relative;
}

@media (max-width: 600px) {
    .image-intro{
        max-width: 350px;
    }
}
.image-intro{
    box-shadow: var(--boxshadow); 
    margin-left: auto;
    margin-right: auto;
}

.section-title-intro{
    font-weight: var(--fw-reg);
}

.section-title-intro strong{

    display: block;
}

.section-subtitle-intro,
.section-subtitle-about{
    font-family: var(--ff-secondary);
    background: var(--clr-accent);
    margin-bottom: 1em;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        text-align: right;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        padding-bottom: 15em;
    }
    .image-intro{
        grid-area: img;
        min-width: 250px;
        z-index: 2;
        position: relative;
    }

    .section-subtitle-intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -2rem;
        z-index: 1;

        width: calc(100% + 1.5rem);
    }
}


/*--- skills section ---*/

.my-skills {
    background-color: var(--clr-dark);
    background-image: url(images/tech-background-2.png);
    background-size: cover;

    color: var(--clr-light);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section-title-skills {
    color: var(--clr-accent);
    position: relative;
}

.section-title-skills::after {
    content: ' ';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.4;
}

.skills {
    margin-bottom: 4em;
}

.skill{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 800px) {
    .skills {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .skill + .skill {
        margin-left: 2em;

    }
}


/*--- aboutme ---*/
.image-aboutme {
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--boxshadow);
}

.aboutme {
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .aboutme {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .image-aboutme{
        grid-area: img;
        z-index: 2;
    }

    .section-title-about{
        grid-area: title;
    }

    .section-subtitle-about{
        grid-area: subtitle;
        grid-column: 1 / -1;
        position: relative;
        left: -1em;
        width: calc(100% + 4em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .section-body-about{
        grid-area: text;
    }
}



/*--- Portfolio/Projects ---*/

/* HTML Class Heirarchy */
/* portfolio / portfolio-entries / portfolio-entry */


.portfolio {
    background-color: var(--clr-dark);
    background-size: cover;
    width: 100vw;
}

.portfolio-entries{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-entry{
    padding: 1em;
    padding-bottom: 2.75em;
    min-width: var(--image-size);
}

.section-title-portfolio{
    color: var(--clr-light);
}

.section-title-portfolio:after{
    display: block;
    content: ' ';
    width: 25%;
    height: 2px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0.55;
}

.section-listing-portfolio{
    text-align: center;
    color: var(--clr-light);
    padding-bottom: 0.5em;
    font-size: 1.75rem;
    z-index: 2;
}

.image-portfolio{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    max-width: var(--image-size);
    max-height: var(--image-size);
    min-width: var(--image-size);
    min-height: var(--image-size);
    
    padding: 0.75em;
    padding-bottom: 1.15em;

    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
    z-index: 1;
}


.image-portfolio:focus{
    position: relative;
    z-index: 2;
}

.image-portfolio:hover{
    transform: scale(1.1);
    opacity: 0.75;
}

.image-wrapper-portfolio{
    position: relative;
    display: block;
    width: var(--icon-size);
    margin-left: 42.5%;
}

.image-portfolio-github{
    width: var(--icon-size);
    padding-bottom: 0.05em;
}

.image-portfolio-github:hover ~ .tooltip-github{
    visibility: visible;
    opacity: 1;
    transform: scale(1.05);
} 

.tooltip-github{
    position: absolute;
    transition: 
        transform 750ms cubic-bezier(0.1, 0, 0.5, 1),
        opacity 150ms linear;

    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -65px;
    margin-top: 10px;

    opacity: 0; 
}

.tooltip-github::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--clr-light) transparent;
  }

  /*--- Footer ---*/ 

.footer{
    background: black;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.social-list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-list-item{
    padding: 1em;
}

.image-icon-footer{
    width: var(--small-icon-size);
}

.social-link{
    font-size: var(--fs-h3);
    font-size: var(--fw-bold);
}

.social-list-link:hover{
    text-decoration: underline;
}

.social-list-link:hover,
.image-icon-footer:hover{
    opacity: 0.8;
    cursor: pointer;
}






