
/* 
    Skill section carousel css styles sheet for Zach Brock's 
    portfolio website.
    All content & code created by Zach Brock.
*/


.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel_track-container {
    background: lightgreen;
    height: 100%;
    position: relative;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel_button--left{
    left: -40px;
}

.carousel_button--right{
    right: -40px;
}

.carousel_button img{
    width:32px;
}

.carousel_nav {
    background: red;
    display: flex;
    justify-content: center;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 15px;
    background: white;
}